$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;


    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}



.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 1.25em;
    background: $button-background;
    color: $button-color;
    border-radius: 0 1em 0 1em;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span,
    span + i {
        margin-left: 1em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 3px solid $button-background;
        font-weight: 600;

        &:hover,
        &:focus {
            background-color: $button-background;
            border-color: $button-background;
            color: #fff;
        }
    }
    &-secondary {
        color: #fff;
        background: $color-2;
    }
    &-text {
        color: $color-1;
        background: transparent;
        font-weight: 400;
        padding: 0.5em;

        &-white {
            color: #fff;
        }

        i {
            transition: $transition-1;
        }

        &:hover,
        &:focus {
            background: transparent;
            box-shadow: none;

            i {
                transform: translate(0.5em, 0)
            }
        }
    }
    &-small {
        font-size: 0.875rem;
        padding: 0.75em;
    }
    &-normal {
        border-radius: 0;
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}

button.button,
input[type="submit"].button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
