.services {
    padding: 3em 0;
    padding-bottom: 1em;
    margin-bottom: 0;

    .section-heading {

    }

    .container {

    }

    .group {

    }

    .service-action {
        background: #fff;
        width: calc(20% - 1em);
        margin: 0.5em;
        text-decoration: none;
        padding: 2em;
        text-align: center;
        transition: $transition-1;
        box-shadow: $box-shadow-3;

        .icon {
            display: block;
            font-size: 3rem;
            margin-bottom: 0.25em;
        }

        &:hover,
        &:focus {
            transform: scale(1.08);
        }

    }

    .buttons {
        margin-top: 2em;
    }
}
