.testimonials {
    background: $color-grey-1;

    &-widget {
        padding-bottom: 7em;

        .container {
            max-width: 800px;
        }
    }

    .testimonial {
        font-family: $font-1;
        width: 100%;
        margin: 0 auto;
        padding: 3em;
        display: flex;
        align-items: flex-start;
    }

    .quotee-image {
        max-width: 200px;
        margin-right: 2em;

        img {
            border-radius: 50%;
            width: 100%;
        }
    }

    .quote {
        font-style: italic;
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 0.5em;
        color: $color-2;
    }

    .quotee {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        color: $color-1;

        span {
            color: $color-0;
            margin-left: 0.25em;
        }
    }

    .flickity-viewport {
        width: 100%;
    }
}
