.testimonials {
    padding-top: 3em;
    margin-bottom: 0;

    &-widget {
        background:$color-1;
        box-shadow: 0 10px 50px rgba(27,31,35,0.07);

        .container {
            position: relative;
            padding: 0;
            background: $color-2;
            padding: 6em;
            transform: translate(0, -6em);
            border-radius: 0 0 0 5em;

            &::after {
                content: '';
                position: absolute;
                left: 100%;
                top: 0;
                bottom: 0;
                width: 300%;
                background: $color-2;
            }
        }
    }

    .testimonial {
        font-family: $font-1;
        max-width: 800px;
        margin: 0 auto;
    }

    .quote {
        font-style: italic;
        font-size: 3rem;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 1em;
    }

    .quotee {
        font-size: 2rem;
        color: $color-1;
        display: flex;
        align-items: center;

        img {
            max-width: 120px;
            border-radius: 50%;
        }

        &-details {
            margin-left: 1em;
            color: #fff;

            span {
                opacity: 0.45;
            }
        }
    }
}
