//Colors
$color-0: #5D6060;
$color-1: #833C38;
$color-2: #3B3B3B;
$color-3: #AFAFAF;

$color-grey-1: #FCF6F9;
$color-grey-2: #f8f8f8;
$color-grey-3: #424242;

//Fonts
$font-0: "Inter", sans-serif;
$font-1: "Amiri", serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba(50,50,93,.1);
$box-shadow-2: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$box-shadow-3: 0 7px 14px rgba(50,50,93,.11), 0 3px 6px rgba(0,0,0,.08);

//Transitions
$transition-1: 250ms ease;

//Sizing
$container-width: 1400px; //Sizing of the section .container as well as .column containers
